<v-app>
    <div v-resize="resize" style="user-select: none; touch-action: none;">
        <v-flex xs12 :style="{
                'height':size + 'px'
            }" id="top-flex"></v-flex>

        <v-btn fixed right top fab color="primary" style="user-select: none;" :style="{
        width: size * 0.9 + 'px', 
        height: size * 0.9 + 'px', 
        'margin-right': width / 2 - Math.min(size * 4, width / 2) + size * 1.1 + 'px'}" @click="listd=!listd">
            <v-icon :size="size * 0.6">
                school
            </v-icon>
        </v-btn>

        <v-btn fixed left top text color="primary" style="user-select: none; margin: 0%; padding: 0%;"
            :style="{height: size+'px', 'margin-left': width / 2 - Math.min(size * 4, width / 2 - size / 4) + 'px'}"
            @click="listd=true" v-if="isDemoMode">
            <div :style="{'font-size':(size * 0.4)+'px'}" style="text-transform: none;">{{ demoName }}</div>
        </v-btn>

        <v-bottom-sheet v-model="listd">
            <v-card text style="margin: 0%; padding: 0%;">
                <v-container fluid grid-list-md text-xs-center style="padding: 0%;"
                    :style="{width: Math.min(size * 10, width) + 'px'}">
                    <v-layout row wrap
                        style="margin: 0%; padding: 0%; min-width: 0%; min-height: 0%; align-items: stretch;">
                        <v-card outlined style="margin: 0%; padding: 0%;" :style="{'width': demoGridWidth  + 'px'}"
                            v-for="(demoImage, i) in demoImages" :key="i">
                            <v-btn block depressed text color="primary" :style="{
                                'font-size': size * 0.3 + 'px',
                                'height': size * 0.35 + 'px'
                            }" style="text-transform: none;
                            text-align: center;
                            margin: 0%;
                            padding: 0%;" @click="selectDemo(i)">
                                {{ demoData[i].name }}
                            </v-btn>
                            <img :src="demoImage" style="margin: 0%; padding: 0%;"
                                :style="{'width':demoGridWidth  + 'px'}" @click="selectDemo(i)">
                        </v-card>
                    </v-layout>
                </v-container>
            </v-card>
        </v-bottom-sheet>

        <setting ref="setting"></setting>
        <viewport ref="viewport"></viewport>
        <v-flex xs12 :style="{
                'height':size + 'px',
                'padding': 'none',
                'margin': 'none'
            }" id="bottom-flex" v-show="!isPlayerMode">
        </v-flex>
        <v-card flat style="margin: auto; touch-action: none; user-select: none;">
            <v-container fluid grid-list-md text-xs-center
                :style="{width: Math.min(size * 8, width) + 'px', height: size * 4 + 'px'}">
                <v-layout row wrap>
                    <v-flex xs12 :style="{
                    'height': size + 'px'
                }" v-if="isPlayerMode">
                        <v-slider :value="progress" style="margin: 0%; padding: 0%;" :max="solution.length"
                            :tick-size="3" thumb-label="always" ticks="always" hide-details v-on:input="setProgress">
                            <template v-slot:thumb-label>
                                {{ progress == 0 ? '#' : solution[progress - 1] }}
                            </template>
                        </v-slider>
                    </v-flex>
                    <v-flex xs4 :style="{padding: size * 0.06 + 'px'}">
                        <v-btn @click="greenButton" block text color="green"
                            style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;" :height="size">
                            <div :style="{'font-size': size * 0.3 +'px'}">
                                {{ !isPlayerMode ? 'Scramble' : (progress == solution.length ? 'Replay' : 'Play') }}
                            </div>
                        </v-btn>
                    </v-flex>
                    <v-flex xs4 :style="{padding: size * 0.06 + 'px'}">
                        <v-btn @click="blueButton" block text color="blue"
                            style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;" :height="size">
                            <div :style="{'font-size': size * 0.3 +'px'}">
                                {{ !isPlayerMode ? 'Reset' : 'Pause' }}
                            </div>
                        </v-btn>
                    </v-flex>
                    <v-flex xs4 :style="{padding: size * 0.06 + 'px'}">
                        <v-btn @click="redButton" block text color="red"
                            style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;" :height="size">
                            <div :style="{'font-size': size * 0.3 +'px'}">
                                {{ !isPlayerMode ? 'Solve' : 'Quit' }}
                            </div>
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </div>
</v-app>